<div class="parentEntriesTable">
    <div style="padding-bottom: 5%">
        <div class="mat-elevation-z8">
            <!--Table to show user current news and provide an ability to rate them-->
            <table mat-table [dataSource]="news" matSort>

                <!-- Date Column -->
                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
                    <td mat-cell *matCellDef="let row"> {{getDate(row)}} </td>
                </ng-container>

                <!-- Creator (Author) Column -->
                <ng-container matColumnDef="creator">
                    <th mat-header-cell *matHeaderCellDef> Creator</th>
                    <td mat-cell *matCellDef="let row"> {{row['dc:creator']}}
                    </td>
                </ng-container>

                <!-- Link to the source Column -->
                <ng-container matColumnDef="link">
                    <th mat-header-cell *matHeaderCellDef> Link/Title</th>
                    <td mat-cell *matCellDef="let row">
                        <a href="{{row.link}}" target="_blank">{{row.title}}</a>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                </tr>
                <!-- Create new rating! -->
                <ng-container matColumnDef="rate">
                    <th mat-header-cell *matHeaderCellDef>Create new rating in Database!</th>
                    <td mat-cell *matCellDef="let element">
                        <div class="stars container">
                            <div class="row">
                                <div class="col-md-4">
                                    <section>
                                        <bar-rating [readOnly]="!!element.rate" (rateChange)="onRate(element,$event)"
                                                    [(rate)]="element.rate" [max]="5"></bar-rating>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </td>
                </ng-container>
            </table>
        </div>
    </div>
</div>
