<div class="parentEntriesTable">
<!--    div to show XML-->
    <div *ngIf="isXml">
        <pre>
           {{xml}}
        </pre>
    </div>
<!--    div to show JSON-->
    <ngx-json-viewer *ngIf="!isXml" [json]="ratings"></ngx-json-viewer>
</div>
<!-- if ratings are empty, show help text-->
<div class="mid-phrase" *ngIf="ratings && ratings.length == 0">No ratings just yet. Please rate news or wait on current
    page for cronjob  ;) <br>
    Default update interval is 5 minutes (requirement from assignment), you can change it in admin page<br>
</div>
