<!--Toolbar on the top of every component-->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a *ngIf="!ifHomeRoute" mat-raised-button class="toolbar_element" routerLink="home" routerLinkActive="active">Home</a>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
