<div class="admin-form">
    <mat-accordion>
<!--        Check if the URL is valid and send import request -->
        <mat-expansion-panel [expanded]="panelOpenState">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Import new RSS
                </mat-panel-title>
                <mat-panel-description>
                    Type your URL
                </mat-panel-description>
            </mat-expansion-panel-header>

            <form method="post" #f="ngForm" name="rssForm" (ngSubmit)="addRss(f)">

                <mat-form-field class="full-width">
                    <label>
<!--                    TODO replace regex URL validation with the library like this https://validatejs.org/  -->
                        <input name="name" required matInput
                               [(ngModel)]="rssUrl" #name="ngModel" type="url"
                               pattern="https?:\/\/(www\.)?[-a-zA-Z0-9@:%._\+~#=]{1,256}\.[a-zA-Z0-9()]{1,6}\b([-a-zA-Z0-9()@:%_\+.~#?&//=]*)"
                               placeholder="Please enter new rss feed URL">
                    </label>
                    <mat-error>URL is invalid</mat-error>
                </mat-form-field>

                <div mat-dialog-actions align="end">
                    <button type="submit" value="submit" mat-raised-button style="margin-right:5px;" color="primary">Add
                    </button>
                    <a mat-stroked-button routerLink="/home" routerLinkActive="active">Cancel</a>
                </div>
            </form>

        </mat-expansion-panel>
<!--     Show top rated news in XML or JSON, depending on admin's choice -->
        <mat-expansion-panel [expanded]="panelOpenState">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Show top rated
                </mat-panel-title>
                <mat-panel-description>
                    JSON or XML
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="full-width">
                <a mat-fab color="accent" [routerLink]="['/top-rated']" [queryParams]="{ isXml: true}"
                   routerLinkActive="active">XML</a>
                <a mat-fab color="primary" [routerLink]="['/top-rated']" [queryParams]="{ isXml: false}"
                   routerLinkActive="active">JSON</a>

            </div>
        </mat-expansion-panel>

<!--    Change update interval  -->
        <mat-expansion-panel [expanded]="panelOpenState">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Change cron timer
                </mat-panel-title>
                <mat-panel-description>
                    Setup update interval
                </mat-panel-description>
            </mat-expansion-panel-header>

            <div class="full-width">
                <mat-form-field>
                    <mat-label>Timer</mat-label>
                    <mat-select (selectionChange)="changeUpdateInterval($event)" [(value)]="cronJobTimer">
                        <mat-option value="10000">10 seconds</mat-option>
                        <mat-option value="60000">1 min</mat-option>
                        <mat-option value="300000">5 min</mat-option>
                        <mat-option value="900000">15 min</mat-option>
                        <mat-option value="1800000">30 min</mat-option>
                    </mat-select>
                </mat-form-field>

            </div>
        </mat-expansion-panel>

    </mat-accordion>
</div>

