<!--Intro text-->
<div class="mid-phrase">
    Welcome to my news manager! Do you want to rate some news?
</div>

<div class="wrapper">
<!--    Leads to "Rate" Component-->
    <button mat-fab color="primary" routerLink="/rate" routerLinkActive="rate" class="home_button">
        Rate news!
    </button>

<!--    Leads to "Top Rated" Component with XML=false query parameter-->
    <button style="margin-left: 10%;" mat-fab color="accent" routerLink="/top-rated"  [queryParams]="{isXml: false}" routerLinkActive="active" class="home_button">
        Top Rated (Json)
    </button>

<!--    Leads to "Admin" Component-->
    <button style="margin-left: 10%;" mat-fab color="warn" routerLink="/admin" routerLinkActive="active" class="home_button">
        Admin
    </button>
</div>
